@{
  Layout = "_Layout";
}

@model AnimalShelterMVC.Models.Dog

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.NAme): @Html.DisplayFor(model => model.NAme)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to dogs", "Index")