@{
  Layout = "_Layout";
}

<h1>Welcome to the Animal Shelter!</h1>
<p>@Html.ActionLink("See all Dogs", "Index", "Dogs")</p>
<p>@Html.ActionLink("See all Cats", "Index", "Cats")</p>
<p>@Html.ActionLink("Create an Account", "Index", "Account")</p>
